@import url("https://fonts.googleapis.com/css?family=Roboto");

body, button, p {
    margin: 0;
    padding: 0;
}

.main_box {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    font-family: Roboto;
    font-weight: bold;
}

.box__two, .sidebar{
    background-color: green;
    grid-row: 1/3;
}

.box__three, .nav_bar {
    background-color: red;
}

.search {
    align-self: center;
    display: flex;
    column-gap: 0.7rem;
}

.input_search {
    flex: 1 1 90%;
    border-radius: 15px;
    padding: 0.5rem 0;
    border: none;
    background-color: #efefef;
}

.nav__search_bar {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    justify-content: center;
    gap: 8rem;
}

.sub_icon {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.profile :first-child {
    height: 2.8rem;
}

.profile_name {
    font-size: 1rem;
    font-weight: bolder;
}

.bell {
    width: 1.5rem;
}

.search_btn {
    width: 1.5rem;
}

.btn {
    background-color: transparent;
    border: none;
}

.profile__large {
    height: 4.1rem;
}

.nav__link_bar {
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    margin-top: 1.1rem;
    align-items: center;
}

.link_bar__btn {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right: 1rem;
}

.btn_action {
    min-width: 5.5rem;
    border-radius: 1.1rem;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.7rem 0.3rem;
}

.profile_side {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user_name {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    gap: 0.2rem;
}

.message_txt {
    font-size: 0.9rem;
}

.user_name__profile {
    font-size: 1.3rem;
}

.nav_bar {
    padding: 0.6rem 2.6rem;
}

.box__one, .content_body {
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    padding: 1rem;
    gap: 1rem;
}

.project_box {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.project {
    flex: 1 1 98%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.project > * {
    display: grid;
    grid-template-rows: 3fr 0.9fr;
    gap: 0.5rem;
    padding: 2rem 1.3rem;
    padding-bottom: 1.2rem;
    padding-right: 1.1rem;
    background-color: green;
    border-radius: 8px;
    border-left: 8px solid #f0df53;
}

.project_title--txt {
    font-size: 1.1rem;
    padding-bottom: 0.3rem;
}

.description {
    font-size: 0.98rem;
    font-weight: normal;
}

.svg_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right: 1rem;
}

.side_box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.side_box > * {
    background-color: cyan;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tweet_txt {
    flex: 1 1 99%;
    background-color: purple;
}