/*
Tables of Content (class)

main_box
	header
		nav__search_bar	
			search
				button
					search_button
				input_search
			sub_icon
				svg
				profile
				profile_name
		nav__link_bar
			profile_side
				profile__large
				user_name
					message_txt
					user_name__profile
			link_bar__btn
				btn_action
	sidebar
		sidebar_title
			svg_icon
		personal
			links
				svg_icon
		setting_support
			links
				svg_icon
	main_content
		project_box
			project_title
			project
				project > *
					project_txt
                        project_title--txt
                        description
					svg_links
		side_box
			announcement
				announcement_title
				announcement_txt
					announce_box
						announce_title
							announce_title_p
						announce_txt
			people
				title_trend
				user_profile
					users
						user_img
						user_title
*/

@import url("https://fonts.googleapis.com/css?family=Roboto");

body, button, p {
    margin: 0;
    padding: 0;
}

.main_box {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 4fr;
    font-family: Roboto;
    font-weight: bold;
}












/*header*/
.header {
    padding: 1rem 2.6rem;
    padding-top: 0.6rem;
    position: relative;
    box-shadow: 0px 4px 4px 0 #ccd1d8;
}

/*nav_search_bar*/
.nav__search_bar {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    justify-content: center;
    gap: 8rem;
}
/*search*/
.search {
    align-self: center;
    display: flex;
    column-gap: 0.7rem;
}

.button {
    background-color: transparent;
    border: none;
}

.search_button {
    width: 1.5rem;
}

.input_search {
    flex: 1 1 90%;
    border-radius: 15px;
    padding: 0.5rem 0;
    border: none;
    background-color: #efefef;
}
/*sub_icon*/
.sub_icon {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.svg {
    width: 1.5rem;
    fill: #404040;
}

/*profile*/
.profile :first-child {
    height: 2.8rem;
}

.profile_name {
    font-size: 1rem;
    font-weight: bolder;
}

/*nav__link_bar*/
.nav__link_bar {
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    margin-top: 1.1rem;
    align-items: center;
}

.profile_side {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile__large {
    height: 4.1rem;
}

.user_name {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    gap: 0.2rem;
}

.message_txt {
    font-size: 0.9rem;
}

.user_name__profile {
    font-size: 1.3rem;
}

/*link_bar__btn*/
.link_bar__btn {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right: 1rem;
}

.btn_action {
    min-width: 5.5rem;
    padding: 0.7rem 0.3rem;
    border-radius: 1.2rem;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #1992d4;
    color: #ffffff;
}

/*sidebar*/
.sidebar{
    background-color: #1992d4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-top: 1rem;
    row-gap: 3rem;
}

/*sidebar_title*/
.sidebar_title {
    font-size: 1.6rem;
    column-gap: 0.5rem;
}

.svg_icon {
    width: 1.4rem;
    display: flex;
    align-items: center;
}

/*select every first child of div with svg_icon class*/
.svg_icon :first-child {
    fill: #ffffff;
 }

.svg_icon--large {
    width: 2.5rem;
}

/*personal, setting_support*/
.personal, .setting_support {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/*links, sidebar_title*/
.links, .sidebar_title {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: #ffffff;
}

.links {
    padding-left: 0.5rem;
}

/*main_content*/
.main_content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1.1fr;
    padding: 2rem 1rem 2rem 1.3rem;
    gap: 1rem;
}

.project_box {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/*project_title, announcement_title, title_trend*/
.project_title, .announcement_title, .title_trend {
    font-size: 1.2rem;
}
/*project*/
.project {
    flex: 1 1 98%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

/*select all children of project*/
.project > * {
    display: grid;
    grid-template-rows: 3fr 0.9fr;
    gap: 0.5rem;
    padding: 2rem 1.3rem;
    padding-bottom: 1.2rem;
    padding-right: 1.1rem;
    background-color: #ffffff;
    border-radius: 8px;
    border-left: 8px solid #f0b429;
    box-shadow: 1px 4px 6px 0 #ccd1d8;
}

.project_title--txt {
    font-size: 1.08rem;
    padding-bottom: 0.3rem;
}

.description {
    font-size: 0.95rem;
    font-weight: normal;
    color: #636363;
}

.svg_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right: 1rem;
}

/*side_box*/
.side_box {
    display: grid;
    grid-template-rows: 2fr 1.9fr;
    gap: 2rem;
}

/*select every side box child*/
.side_box > * {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*announcement, people*/
.announcement,.people {
    padding: 0 0.5rem;
}

/*announcement_txt, user_profile*/
.announcement_txt, .user_profile {
    flex: 1 1 99%;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 4px 6px #ccd1d8;
}



/*announce_box*/
.announce_box {
    padding: 1rem 0;
}

/*select 2nd child of announce-box to apply top and bottom border*/
.announce_box:nth-child(2) {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: 1rem 0;
}

/*announce_title p tag child*/
.announce_title_p {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

/*announce_txt*/
.announce_txt {
    font-weight: normal;
    font-size: 0.75rem;
    color: #636363;
}

/*people*/
.people {
    display: flex;
    flex-direction: column;
}

/*user_profile*/
.user_profile {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 1rem 1.5rem; 
    align-items: center;  
}

.users {
    flex: 1 1 100%;
    display: flex;
    gap: 0.9rem;
}

/*user_img is a div*/
.user_img {
    max-height: 2.8rem;
    align-self: center;
}

/*select first child image*/
.user_img > :first-child {
    max-height: inherit;
}

/*user_title is a div*/
.user_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

/*prefix @*/
.user_title :first-child {
    font-size: 0.9rem;
}

/*role*/
.user_title :last-child {
    font-weight: normal;
    font-size: 0.8rem;
    color: #636363;
}